.btn {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2rem;
  transition: 0.2s;
  border: 0px solid transparent;
  font-family: 'Inter', 'Segoe UI', sans-serif
}

.btn:hover {
  opacity: 0.8;
}

.loading {
  width: 1.3rem !important;
  height: 1.3rem !important;
  font-size: 12px;
}