.containerIconsContact {
  border: 5px solid transparent;
  border-radius: 25px;
  background-color: #fff;
  color: #000;
}

.iconsContact {
  width: 18px;
  font-size: 18px;
  display: flex;
}

@media (min-width: 1200px) {
  .iconsContact {
    font-size: 24px;
    width: 24px;
  }
}